@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  --color-primary: 0 82 204;
  --color-surface: 255 255 255;
  --color-background: 244 245 247;
  --color-text-main: 23 43 77;
  --color-text-subtle: 107 119 140;
  --color-border: 223 225 230;
}

.dark {
  --color-primary: 38 132 255;
  --color-surface: 29 33 37;
  --color-background: 22 26 29;
  --color-text-main: 179 212 255;
  --color-text-subtle: 179 212 255;
  --color-border: 48 54 61;
}

body {
  margin: 0;
  min-height: 100vh;
  background: rgb(var(--color-background));
  color: rgb(var(--color-text-main));
}
